.text-percent {
    color: white;

    text-align: center;
    display: block;
    margin: 5px;
}

.vote-bar {
    text-align: center;
    border-radius: 15px;
    height: 70px;
    padding: 5px;
}

.active-proposals{
    width: 100%;
}

.vote-buttons{
    margin: auto;
    text-align: center;
}

.vote-button{
    width: 100%;
}

.proposal-title{
    color: #5b5b5b;
    font-weight: bolder;
}

.card-text{
    color: #5b5b5b;
}

.card-header{
    color: #a1a1a1 !important;
}

.card-label {
    color: #a1a1a1 !important;
}

.proposal-form {
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border-color: #a1a1a1;
    border-style: solid;
    margin-bottom: 20px;
}

.progress-bar {
    width: 80%;
    height: 50px;
    background-color: red !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white !important;
    font-size: 40px;
}