.past-date {
    background-color: #edede997;
    color: #7E7E7E;
    opacity: 0.4;
}

.current-date {
    background-color: #13cf4897;
}

.past-date-card {
    opacity: 0.5;
}

.custom-card-header {
    display: flex;
    flex-grow: 1;
    height: 64px;
    align-items: center;
}

.custom-list-group-item {
    display: flex;
    justify-content: space-between;
}

.custom-full-width {
    display: flex;
    flex-grow: 1;
}

.custom-filter-button {
    background: #edede997 !important;
    border: 2px solid #EDEDE9 !important; 
    color: #7E7E7E !important;
}

.custom-filter-button.active {
    background: #D5BDAF !important;
    color: #FFFFFF !important;
}