@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf')
  }

body {
    font-family: 'Roboto' !important;
}

.social-logo {
    width: 50px;
    height: 50px;
   }
   
.title{
    font-size: 60pt;
    color: #D5BDAF;
    font-weight: bolder;
}

.darken{
    background-color: #edede98e;
}

.round-border {
    border-radius: 55px;
    border: 2px solid #D5BDAF;
}